.root {
    -fx-font-family: "Roboto", "Dialog";
    -fx-background-color: #F9F9F9;
    -fx-font-size: 10px;
}

.headline-1 {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1A1A;
}

.nav-button {
    -fx-background-color: #1C8AFF;
    -fx-text-fill: #F9F9F9;
    /*-fx-font-weight: regular; */
    -fx-padding: 5 15;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #01B7FF;
}

.action-button {
    -fx-background-color: #1C8AFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
    -fx-border-color: #1A1A1A;
    -fx-border-width: 1;
}

/* De nieuwe verwijderknop styling */
.delete-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
    -fx-border-color: #1A1A1A;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #c0392b;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #CCCCCC; /* Neutraal grijs */
}

.table-view .column-header {
    -fx-background-color: #F9F9F9;
    -fx-border-color: #CCCCCC;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #1C8AFF;
    -fx-border-radius: 3;
    -fx-padding: 5;
}